body {
	background:#0f0 url('../images/snow.png');
}

.logo {
	font-size: 2em; 
	font-weight: normal; 
	font-family: 'Raleway Dots', cursive;
}
.frame {
	background:#00f url('../images/light_toast.png');
	padding: 1em;
}

